<form action="LoginForm" onsubmit="return false;"> 
    <div class="login_input">
    <input type="text" id="Name" onfocus="nameFocus()" onblur="nameBlur()" value="Enter name here:" class="text-box" />
    </div>
    <br />
    <br />
        <a href="#" onclick="NewUserLogin()">Submit</a>
</form>